<div class="container mt-5 text-center">
  <h2 class="mb-4">Admin Dashboard</h2>

  <div class="d-flex justify-content-center flex-wrap gap-3">
    <button class="btn btn-primary btn-lg" (click)="navigateTo('hotels')">Hotel</button>
    <button class="btn btn-success btn-lg" (click)="navigateTo('users')">Users</button>
   <button class="btn btn-warning btn-lg" (click)="navigateTo('packages')">Travel Packages</button>
    <button class="btn btn-info btn-lg" (click)="navigateTo('wallets')">Wallets</button>
    <button class="btn btn-secondary btn-lg" (click)="navigateTo('itineraries')">Itineraries</button>
    <button class="btn btn-primary btn-lg" (click)="navigateTo('Transport Mode')">Transport Mode</button>
      <button class="btn btn-info btn-lg" (click)="navigateTo('transactions')">Wallet Transactions</button>
      <button class="btn btn-info btn-lg" (click)="navigateTo('passengers')">Passenger Details</button>
      <button class="btn btn-dark btn-lg" (click)="navigateTo('receipts')">Download Receipt</button>
          <button class="btn btn-warning btn-lg" (click)="navigateTo('bookings')">Bookings</button>


  </div>
</div>
